.sign-up{
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(235, 146, 63), rgb(192, 136, 136), rgb(235, 146, 63));
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.signup-container{
    width: 50%;
    padding: 20px 0 ;
    background: rgba(241, 230, 230, 0.434);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup-container a{
    color: #004e72;
}
.or{
    display: flex;
    align-items: center;
    gap:10px;
    margin: 10px;
}

hr{
    width:50px ;
}
.signup-container input{
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 2px;
}
.signup-container button{
    width: 200px;
    color: white;
    padding: 8px 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.signup-container img{
    width: 20px;
    background:white;
    border-radius: 50%;
    
}

.signup-container button:hover{
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.245);
    font-weight: 600;
}
h3{
    color:white;
}

@media screen and (max-width:550px) {
    .signup-container{
        width: 80%;
    }
}