.profile{
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(235, 146, 63), rgb(192, 136, 136), rgb(235, 146, 63));
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.profile-container{
    width: 50%;
    height: 500px;
    background: rgba(255, 255, 255, 0.141);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h3{
    color:white;
}
.profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.profile button{
    border: none;
    background-color: black;
    color: aliceblue;
    font-weight: 600;
    padding: 8px 10px;
    margin-top:20px;
}
h2{
    color:rgba(0, 0, 0, 0.368);
}

@media screen and (max-width:550px) {
    .signin-container{
        width: 80%;
    }
}