.forget-password{
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(235, 146, 63), rgb(192, 136, 136), rgb(235, 146, 63));
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.forget-password-container{
    width: 50%;
    height: 500px;
    background: rgba(241, 230, 230, 0.434);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.back-button{

    position: absolute;
    left:20px;
    top: 20px;

}

.back-button:hover img{
    cursor: pointer;
}
.back-button img{

    border-radius: 50%;
    width: 48px;
}
.forget-password-container p{
    margin: 5px;
}

.forget-password-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.forget-password-container input{
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 2px;
}
.forget-password-container button{
    width: 200px;
    color: white;
    padding: 8px 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}



@media screen and (max-width:550px) {
    .forget-password-container{
        width: 80%;
    }
}